

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    display: flex;
    justify-content: center;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2rem;

    width: 70%;


    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #005b7c;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;

}

.content-table th:first-child {
     width: 20%;
 }


.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:hover .delete-button{
    visibility: visible;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


button {
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    margin: 0.3rem;
    color: #efefee;
    background-color: #005b7c;
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: #01bcc6;
}

button:active {
    background-color: #d5d1ca;
    color: #005b7c;

}

