

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    font-family: Arial;
    font-size: 1.2rem;
}

.text-aria {
    font-size: 1.2rem;
    margin-right: 1rem;
    background-color: #efefee;
    border: solid #efefee 2px
}


.button {
    margin: 0.5rem;
    width: 5rem;
    height: 2rem;
    font-size: 1.2rem;
    color: #efefee;
    background-color: #005b7c;
    border: none;
    border-radius: 3px;
}

.button:hover {
    background-color: #01bcc6;
}

.button:active {
    background-color: #d5d1ca;
    color: #005b7c;

}

div.cart {
    width: 3rem;
    height: 70%;
    background-image: url("../ico/shopping-cart .svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    color: #efefee;
    background-color: #008eab;
}

#amountCartProduct {
    font-size: 1.2rem;
    line-height: 1.5rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: -0.5rem;
    top: -0.3rem;
    text-align: center;
    background-color: white;
    border-radius: 100%;
    background-color: #005b7c;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2rem;
    min-width: 400px;
    width: 70%;

    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    /*background-color: #009879;*/
    background-color: #005b7c;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:hover .delete-button{
    visibility: visible;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #008eab;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.left-arrow, .right-arrow{
    display: inline-block;
    width: 1rem;
    height: 1.2rem;
    margin-bottom: -0.2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}


.left-arrow{
    background-image: url("../ico/left-arrow.svg");
}

.right-arrow{
    background-image: url("../ico/right-arrow.svg");
}

.left-arrow:hover{
    background-image: url("../ico/left-arrow-hover.svg");
}

.right-arrow:hover{
    background-image: url("../ico/right-arrow-hover.svg");
}
.amount-product{
    margin: 0 0.3rem;

}

.amount-product::selection,
.amount-td::selection,
.delete-button::selection{
}

tr + td::selection{
    color: red;
}

.delete-button{
    color: red;
    float: right;
    margin-right: 1rem;
    visibility: hidden;
}

.delete-button:hover{
    text-shadow: red 0 0 10px;
    cursor: pointer;
}

