label {
    display: inline-block;
    width: 4rem;
    margin: 0.5rem;
}

input[type="text"] {
    height: 1.2rem;
    border: solid 1px grey;
    width: 10rem;
}

#msg {
    width: 30rem;
}

input[type="button"] {
    font-size: 1.2rem;
    width: 5rem;
}

ul {
    list-style: none;
    width: 70%;
}

ul > li {
    margin: 1rem;
}

li > span {
    margin: 0.2rem 0 0 0;
    display: inline-block;
}


span.nickName {
    color: blue;
    font-weight: bold;
}