

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;

}

form {
    font-family: Arial;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: inherit;
}

div .formWrap{

   height: inherit;
    width: 100%;
}


ul.registerForm{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: inherit;
    padding: 0.5rem 0;
}

.text-aria {
    font-size: 1.2rem;
    margin-right: 1rem;
    background-color: #efefee;
    border: solid #efefee 2px
}


.button {
    margin: 0.2rem 1rem;
    width: 6rem;
    height: 2rem;
    font-size: 1.2rem;
    color: #efefee;
    background-color: #005b7c;
    border: none;
    border-radius: 3px;
}

.button:hover {
    background-color: #01bcc6;
}

.button:active {
    background-color: #d5d1ca;
    color: #005b7c;

}

div.cart {
    width: 4rem;
    height: 70%;
    background-image: url("../ico/shopping-cart .svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

div.cart:hover {
    box-shadow: 0 0 6px 7px #2ccbe6;
    border-radius: 7px;
    cursor: pointer;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 9vh;
    color: #efefee;
    background-color: #008eab;
    padding: 0 2rem;
}

#amountCartProduct {
    font-size: 1.2rem;
    line-height: 1.5rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: -0.5rem;
    top: -0.3rem;
    text-align: center;
    background-color: white;
    border-radius: 100%;
    background-color: #005b7c;
}

.content-table {

    border-collapse: collapse;
    margin: 2rem auto;
    font-size: 1.2rem;
    min-width: 400px;
    width: 70%;

    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    /*background-color: #009879;*/
    background-color: #005b7c;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table td:last-child {
width: 13rem;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:hover .delete-button{
    visibility: visible;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #008eab;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

tr.fullCost {
    text-align: center;
    font-size: 1.2rem;

}

tr.fullCost  span{
    font-weight: bold;
    color: red;
    padding-right: 3rem;
    font-size: 1.5rem;
}

.left-arrow, .right-arrow{
    display: inline-block;
    width: 1rem;
    height: 1.2rem;
    margin-bottom: -0.2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}


.left-arrow{
    background-image: url("../ico/left-arrow.svg");
}

.right-arrow{
    background-image: url("../ico/right-arrow.svg");
}

.left-arrow:hover{
    background-image: url("../ico/left-arrow-hover.svg");
}

.right-arrow:hover{
    background-image: url("../ico/right-arrow-hover.svg");
}
.amount-product{
    margin: 0 0.3rem;

}

.amount-product::selection,
.amount-td::selection,
.delete-button::selection{
}

tr + td::selection{
    color: red;
}

.delete-button{
    color: red;
    float: right;
    margin-right: 1rem;
    visibility: hidden;
}

.delete-button:hover{
    text-shadow: red 0 0 10px;
    cursor: pointer;
}

div#output{
    align-self: flex-start;
width: 100%;
    display: flex;

}
div#output-cats{
flex-basis: 25%;
    min-width: 20rem;
    margin-right: 0.5rem;
    height: 91vh;
    overflow: auto;
}
div#output-goods{
    flex-basis: 75%;
    background: gainsboro;
}

ul{
    list-style: none;
    position: relative;
}

div#output-goods ul{
    display: flex;
    flex-wrap: wrap;
}

div#output-goods ul li{
    width: 20%;
    min-width: 17rem;
    height: 22rem;
}

a.goods{
    display: flex;
    flex-direction: column;
    padding: 0.5rem
}

a.goods:hover{
    background-color: #005b7c;
    cursor: initial;
}

a.goods:active{
color: white;
}

a.goods div{
    flex-basis: 10rem;
    overflow: auto;
    margin: 1rem 0 1rem 0;
}
a.goods > span{
    align-self: flex-end;
    margin-top: auto;
    font-weight: bold;
    font-size: 1.3rem;
    color: darkorange;
}

a.goods .imageDiv{
    flex-basis: 11rem;
    width: 100%;


}
a.goods .addGoodBloc{
    flex-basis: 3rem;
    margin: 0 1rem 0.5rem 1rem;
}

a.goods button{
    height: 1.7rem;
    margin: 0 0 0 1rem;
    font-size: 1rem;
    width: 7rem;
    background-color: #db7800;
}

a.goods button:hover{
    background-color: #ac4b00;
}

a.goods .amountAddGoods{
    font-size: 1rem;
    width: 3rem;
}




 li{
    margin: 0.3rem 0 0.3rem 1.5rem;

}

li a{

    padding: 1rem;
    height: inherit;
    background-color: #005b7c;

    border-radius: 7px;
    display: block;
    text-decoration: none;
    color: white;
/*    box-shadow: 3px 3px 4px 1px #0006;*/
}

li a:hover{
    background-color: lightslategray;

}

li a:active {
    background-color: #d5d1ca;
    color: #005b7c;
}

#welcomeDiv{
    padding: 0.5rem;
    font-size: 2rem;
    flex-grow: 1 ;
}

li > a.parent{
   background-color: #6f299f;
}

div#cartView {
    display: none;
    position: relative;
    height: 90vh;
    width: 100%;
}

section.registered{
    display: flex;
    height: inherit;
    width: inherit;
    justify-content: flex-end;
    align-items: center;
}

#sendOrder{
    width: auto;
    padding: 0.5rem 1rem 0.5rem 1rem;
    height: auto;
    font-size: 1.5rem;
    font-weight: bolder;
}

#ordersView{
    position: absolute;
    background: rgba(139, 149, 159, 0.8);
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: auto;
}

.hidden{
    display: none!important;
}

#ordersView > table{
background: #c8ddf2;
}

tr.orderNumber td:first-child{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

tr.orderNumber td.price{
color: #db0000;
    font-weight: bold;
}
#ordersViewTable tr.lastOrder {
    border-bottom: 5px solid #008eab;
}

button.closeBtn {
    width: 46px;
    height: 46px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 2rem;
    color: #FF8C00;
    font-weight: bold;
}

button.closeBtn:hover {
    color: red;
    text-shadow: 0 0 7px;
    font-size: 2.3rem;

}

th.closeBtnContainer{
    position: relative;
}

.BackToGoods{
    font-size: 1.5rem;
    position: absolute;
    padding: 0.5rem 0.5rem;
    color: #ac4b00;

}

.BackToGoods:hover{
    color: #FF8C00;
}

